.progress > .progress-meter-text {
	display: block;
	text-align: center;
	margin-top: -17px;
	font-size: 74%;
}
.progress.multiple span.progress-meter {
	display: inline-block;
	top: -2px;
}

.progress-meter.spent {
	background-color: #17cc1d;
}

.progress-meter.booked {
	background-color: #88e008;
}

#calendar table {
	width: 100%;
}

#calendar th .button {
	margin: 0;
}

#calendar .week-header {
	width: 14%;
	text-align: center;
}

#calendar .week-header.week-num {
	width: 2%;
}

#calendar td {
	border: 1px solid #ddd;
	position: relative;
	padding: 0;
	height: 115px;
	vertical-align: bottom;
}

#calendar td:hover {
	background-color: #fffec9;
}

#calendar td.prev-month {
	background-color: transparent !important;
	cursor: auto !important;
}

#calendar td:hover span.date {
	color: #333;
}
#calendar td.is-today {
	background-color: #96c4ff;
}
#calendar td.is-today span.date {
	color: #333;
}

#calendar td span.date {
	display: block;
	position: absolute;
	text-align: center;
	font-size: 28px;
	color: #ccc;
	z-index: 0;
	top: -4px;
	left: 4px;
}

#calendar td span.date a {
	color: inherit;
}
#calendar td span.date a:hover {
	color: #2199e8;
}

#calendar .session {
	z-index: 10;
	font-size: 70%;
	border: 1px solid #aaa;
	padding: 4px;
	width: 100%;
	position: relative;
	cursor: pointer;
}

#calendar .session:first-of-type {
	margin-top: 35px;
}

#calendar .module-order {
	font-size: 70%;
	position: absolute;
	text-align: right;
	width: 5px;
	top: 1px;
}

#calendar .module-name {
	font-weight: bold;
	width: 125px;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 13px;
}

#calendar .session-duration {
	float: right;
}

#calendar .session-repeated {
	font-size: 70%;
	opacity: 0.6;
}

#calendar .progress {
	margin: 0;
	height: 5px;
	border: 1px solid #aaa;
}

.footer_module_list {
	height: 115px;
	overflow: auto;
	border: 1px solid #ddd;
	padding-left: 5px;
}

#popup .please-wait {
	display: block;
	background: url(../img/spinner.gif);
	width: 24px;
	height: 24px;
	margin: 75px auto;

}

#popup.edit-session  {
	width: 420px;
	height: 280px;
}

#popup label,
#popup select,
#popup input[type="text"],
#popup input[type="number"]
{
	margin-bottom: 8px;
	padding: 4px;
	font-size: 0.875rem;
	height: 2rem;
}

#popup label {
	line-height: 1;
	padding: 0.5625rem 0;
	white-space: nowrap;
}


#popup.edit-session .currently-selected {
	font-weight: bold;
}

#popup [type="checkbox"] + label, #popup [type="radio"] + label {
	margin: 0 0 0 4px;
	height: 1rem;
}

#popup #repeatable-container {
	padding-left: 1em;
}

#popup #save {
	margin-right: 0;
}